@tailwind base;
@tailwind components;
@tailwind utilities;

:root{  
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#D38312,#A83279);

    --background: 37 54.6% 3.6%;
    --foreground: 37 8.4% 97.25%;

    --muted: 37 42% 13.5%;
    --muted-foreground: 37 8.4% 54.5%;

    --popover: 37 48.2% 5.8500000000000005%;
    --popover-foreground: 37 8.4% 97.25%;

    --card: 37 48.2% 5.8500000000000005%;
    --card-foreground: 37 8.4% 97.25%;

    --border: 37 42% 13.5%;
    --input: 37 42% 13.5%;

    --primary: 37 84% 45%;
    --primary-foreground: 37 8.4% 97.25%;

    --secondary: 37 42% 13.5%;
    --secondary-foreground: 37 8.4% 97.25%;

    --accent: 37 42% 13.5%;
    --accent-foreground: 37 8.4% 97.25%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 37 8.4% 97.25%;

    --ring: 37 84% 45%;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.loading svg polyline {
	fill: none;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.loading svg polyline#back {
	fill: none;
	stroke: #ff4d5033;
}

.loading svg polyline#front {
	fill: none;
	stroke: #ff4d4f;
	stroke-dasharray: 48, 144;
	stroke-dashoffset: 192;
	animation: heartbeat 1.4s linear infinite;
}

@keyframes heartbeat {
	72.5% {
		opacity: 0;
	}

	to {
		stroke-dashoffset: 0;
	}
}

.bg-remco {
	background-color: #ff4d4f !important;
}

.highlight {
	@apply bg-yellow-500/20;
}

.highlight-enter {
	@apply opacity-0;
}

.highlight-enter-active {
	@apply opacity-100 transition-opacity duration-300;
}

.highlight-exit {
	@apply opacity-100;
}

.highlight-exit-active {
	@apply opacity-0 transition-opacity duration-300;
}

.w-fit {
	width: fit-content;
}
