@tailwind base;
@tailwind components;
@tailwind utilities;

:root{    --gradient: #FD8112;

    --background: 30 63.699999999999996% 4.24%;
    --foreground: 30 9.8% 97.65%;

    --muted: 30 49% 15.9%;
    --muted-foreground: 30 9.8% 55.3%;

    --popover: 30 45.4% 6.890000000000001%;
    --popover-foreground: 30 9.8% 97.65%;

    --card: 30 45.4% 6.890000000000001%;
    --card-foreground: 30 9.8% 97.65%;

    --border: 30 49% 15.9%;
    --input: 30 49% 15.9%;

    --primary: 30 98% 53%;
    --primary-foreground: 30 9.8% 5.300000000000001%;

    --secondary: 30 49% 15.9%;
    --secondary-foreground: 30 9.8% 97.65%;

    --accent: 30 49% 15.9%;
    --accent-foreground: 30 9.8% 97.65%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 30 9.8% 97.65%;

	--ring: 30 98% 53%;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.loading svg polyline {
	fill: none;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.loading svg polyline#back {
	fill: none;
	stroke: #ff4d5033;
}

.loading svg polyline#front {
	fill: none;
	stroke: #ff4d4f;
	stroke-dasharray: 48, 144;
	stroke-dashoffset: 192;
	animation: heartbeat 1.4s linear infinite;
}

@keyframes heartbeat {
	72.5% {
		opacity: 0;
	}

	to {
		stroke-dashoffset: 0;
	}
}

.bg-remco {
	background-color: #ff4d4f !important;
}

.highlight {
	@apply bg-yellow-500/20;
}

.highlight-enter {
	@apply opacity-0;
}

.highlight-enter-active {
	@apply opacity-100 transition-opacity duration-300;
}

.highlight-exit {
	@apply opacity-100;
}

.highlight-exit-active {
	@apply opacity-0 transition-opacity duration-300;
}
